[submodule "repositories/neotys-logstash"]
	path = repositories/neotys-logstash
	url = https://github.com/Tricentis-NeoLoad/neotys-logstash.git
[submodule "repositories/usage-tracking-platform"]
	path = repositories/usage-tracking-platform
	url = https://github.com/Tricentis-NeoLoad/usage-tracking-platform.git
[submodule "repositories/jenkins-groovy-lib"]
	path = repositories/jenkins-groovy-lib
	url = https://github.com/Tricentis-NeoLoad/jenkins-groovy-lib.git
